<%- include("../partials/head"); %>
<main>
    <div class="container">
        <h2><%= locals[0] || "Success" %></h2>
        <p><%= locals[1] || "" %> </p>
    </div>
</main>
<%- include("../partials/foot"); %> 